a {
    color: rgb(136, 238, 229);
    font-size: 20px;
    /* quittar la raya del link */
    text-decoration: none;
}
/* pseudoclase */

/* hover ocurre algo al pasar el mouse por encima */
a:hover {
    background: tomato;
    font-size: 30px;
    color: aliceblue;
    border-radius: 35%;
}

a:visited {
    color: black;
}