

/* 
#21295C
*/

@keyframes colores {
    /* from{background: #93B3C2;}
    to{background: #21295C;} */

    0%{
        background: #93B3C2;
    }
    25%{
        background: #1C7293;
        width: 300px;
    }
    50%{
        background: #065A82;
        width: 400px;
    }
    75%{
        background: #1B3B6F;
        width: 300px;
    }
    100%{
        background: #93B3C2;
        width: 200px;
    }

}

@keyframes movimiento {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(500px);
    }
    100%{
        transform: translate(0px);
    }
}

.caja {
    width: 200px;
    height: 200px;
    background: #93B3C2;
    /* animation-name: colores; */
    /* animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: movimiento; */
    animation: movimiento 5s infinite;
}

